{% extends 'index.html' %}

{% block title %} 
    Edit contact
{% endblock %} 

{% block body %}
    <div class="container d-flex justify-content-center">
        <h1>Edit contact</h1>
    </div>
    <div class="container col align-self-center">
        <form method="POST">
            {% csrf_token %}
            <br>
            <input type="text" name="name" id="name" class="form-control" value = "{{ contact.name }}" placeholder="Enter name">
            <br>
            <input type="text" name="phone_number" id="phone_number" class="form-control" value = "{{ contact.phone_number }}" pattern="[+]{0,1}[7-9]{1}[0-9]{10}" placeholder="Enter number">
            <br>
            <input type="text" name="email" id="email" class="form-control" value = "{{ contact.email }}" pattern="\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,6}" placeholder="Enter email">
        <br>
        <div class="container d-flex justify-content-center">
            <input type="submit" class="btn btn-success" value="Edit contact"><br>
        </div>
        </form>
    </div>
{% endblock %}